* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: #FFF926;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: #FFF926;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: #FFF926;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

h1 {
  position: relative;
  color: #FFF926;
}

@media only screen and (max-width: 620px)

