* {
  margin: 1px;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #FFF926;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: #FFF926;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: #FFF926;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: #FFF926;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.logo {
  width: 10%;
  position: relative;
  left: 50%;
}

h1 {
  text-align: center;
  font-size: 40px;
}

hr.new1{
  margin: 50px 0;
  width: 100%;
  height: 0px;
  border: 4px solid #7ED957;
}

h2.article1 {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 30px;
}

.container1 {
display: flex;
align-items: center;
}

.image1 {
  width: 35%;
  padding: 10px;
}
.choose1 {
  padding: 10px;
  align-items: center;
  font-size: 25px;
}

li {
  margin: 30px;
  font-size: 25px;
}

footer {
  background-color: black;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: #7ED957;
  text-decoration: none;
  font-size: 25px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.social-icons li {
  display: inline-block;
  margin-left: 10px;
}

.fa {
  font-size: 36px;
  line-height: 1.5;
}

/*yummygum*/

.yummy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.yummytext {
  text-align: center;
  font-size: 40px;
}

@media only screen and (max-width: 620px) {

.logo {
  width: 50%;
  position: relative;
  left: 25%;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2.article1 {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 25px;
}

.container1 {
display: flex;
flex-direction: column;
align-items: center;
}

.image1 {
  width: 75%;
  padding: 10px;
}
.choose1 {
  padding: 10px;
  align-items: center;
  font-size: 20px;
}

li {
  margin: 30px;
  font-size: 20px;
}

footer {
  background-color: black;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: #7ED957;
  text-decoration: none;
  font-size: 20px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.social-icons li {
  display: inline-block;
  margin-left: 10px;
}

.fa {
  font-size: 36px;
  line-height: 1.5;
}

/*yummygum*/

.yummy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.yummytext {
  text-align: center;
  font-size: 20px;
}
}